/* Box Model Bugfixer */
/* * {
     outline: 1px solid red;
} */

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* COLORS
/*******************************************/
/* SCROLLBARS */
/* Firefox */
.descriptionWindow {
     scrollbar-width: thin;
     scrollbar-color: rgb(0, 104, 52) rgb(22, 219, 0);
}



/* Chrome, Edge, Safari */
.descriptionWindow::-webkit-scrollbar {
width: 15px;
}

.descriptionWindow::-webkit-scrollbar-track {
background: rgb(0, 104, 52);
}

.descriptionWindow::-webkit-scrollbar-thumb {
background-color: rgb(13, 134, 0);
border-radius: 1px;
border: 10px solid rgb(22, 219, 0);
}
/* END SCROLLBARS */


/******************************************
/* TYPOGRAPHY
/*******************************************/
/* @import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap'); */
@font-face {
     src: url('../assets/Berthold_City_Light_Regular.otf') format('opentype');
     font-family: "City Light"
}
@font-face {
     src: url('../assets/Sevastopol-Interface.ttf') format('truetype');
     font-family: "Sevastopol"
}
@font-face {
     src: url('../assets/PumpOpti-DemiBold.otf') format('opentype');
     font-family: "Pump Demi"
}
@font-face {
     font-family: 'Alarm Clock';
     src: url('../assets/alarm-clock.ttf') format('truetype');
}


/******************************************
/* BASE STYLES
/*******************************************/
/* Set 1 rem to 10px */
html {
     font-size: 62.5%;
     font-family: sans-serif;
     /* background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../milkyway-bg.jpg'); */
     /* background: linear-gradient(to top left,rgb(88, 88, 88), rgb(207, 207, 207)); */
     background: url('../assets/station-screen-graphic.jpg');
     background-size: cover;
     background-repeat: no-repeat;
}





/******************************************
/* LAYOUT
/*******************************************/
body {
     padding: 1rem;
}

.container {
     display: flex;
     flex-flow: column nowrap;
     justify-content: flex-start;
     align-items: center;
}

.left,
.right {
     width: 100%;
}

/* ! -----------------LEFT SECTION - TEXT + BUTTONS --------------*/
.left {
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
}

/* // HEADER - "NASA PICTURE OF THE DAY" */
header {
     width: 100%;

     border: 3px solid black;
     border-radius: 5px;
     transform: perspective(300px) rotateX(-25deg);

}

header h2 {
     padding: .5rem;

     font-size: 2.2rem;
     font-family: "Pump Demi", monospace;
     color: lime;
     text-align: center;

     background: radial-gradient(rgb(0, 46, 4),rgb(0, 0, 0));

     border-left: 5px solid rgb(20, 20, 20);
     border-top: 5px solid rgb(12, 12, 12);
     border-right: 5px solid rgb(24, 24, 24);
     border-bottom: 5px solid rgb(41,41,41);

}

/* // DESCRIPTION MONITOR - TEXT */
.descriptionMonitor {
     width: 95%;
     max-height: 406px;
     height: 406px;

     border: 3px solid black;
     border-radius: 5px;
 
}

.descriptionWindow {
     max-height: 400px;
     height: 400px;
     padding: .5rem;

     font-family: 'Sevastopol',monospace;
     font-size: 3.5rem;
     color: lime;

     background: radial-gradient(rgb(0, 46, 4),rgb(0, 0, 0));

     border-top: 5px solid rgb(12, 12, 12);
     border-right: 5px solid rgb(24, 24, 24);
     border-left: 5px solid rgb(20, 20, 20);
     border-bottom: 5px solid rgb(41,41,41);

     overflow-y: scroll;
}

.description {
     overflow-wrap: break-word;
}

.controls {
     width: 95%;
     /* margin-top: .5rem; */
     padding-top: .5rem;

     background: url('../assets/grunge-metal-background-small.jpg');

     border-top: 5px solid rgb(12, 12, 12);
     border-right: 5px solid rgb(24, 24, 24);
     border-left: 5px solid rgb(20, 20, 20);
     border-bottom: 5px solid rgb(41,41,41);

     transform: perspective(500px) rotateX(15deg);

     display: flex;
     flex-flow: column nowrap;
}

.dateInputBox,
.submitBtnBox {
     width: 100%;
}

.dateInputBox {


     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
}

.dateBox {
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
}

/* // DATE SELECTION BUTTONS */
.button {
     width: 80%;
     height: 3rem;
     border: 3px outset white;
     background: rgb(25, 117, 25);
     /* border-radius: 50%; */
     margin: 1%;

     transform: translateY(-5px);
     box-shadow: -0px 5px rgb(0, 0, 0), 0 5px black;
     cursor: pointer;
     border-right: 5px solid rgb(20, 20, 20);
     border-bottom: 5px solid rgb(12, 12, 12);
     border-left: 5px solid rgb(24, 24, 24);
     border-top: 5px solid rgb(41,41,41);

     display: flex;
     justify-content: center;
     align-items: center;

     transition: transform .2s, box-shadow .2s;
}


.button:active {
     transform: translate(0px);
     background: rgb(0, 206, 10);
     box-shadow: 0px 0px rgb(0, 0, 0);
     transition: transform 0s, box-shadow 0s;
}

.button:active i {
     text-shadow: 0 0 5px;
}

.button i {
     font-size: 1.5rem;
     color: white;
     pointer-events: none;
}

/* // DATE INPUT TEXT */
.dateInput {
     width: 5.5rem;
     height: 4rem;
     background: radial-gradient(rgb(0, 0, 0),rgb(0, 0, 0)); 
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 3.5rem;
     font-family: 'Alarm Clock', monospace;
     margin: 1rem;
     color: lime;
}

.dateInput#year {
     width: 10rem;
}



/* // SUBMIT BUTTON */
.submitBtnBox {
     display: flex;
     justify-content: center;
}


.submitBtnBox {
     height: 100%;
     padding: 1rem 1rem .5rem 1rem;
}

#submit {
     width: 100%;
     padding: .5rem;

     font-family: 'Pump Demi',monospace;
     color: rgb(235, 235, 235);


     border-top: 5px solid rgb(41,41,41);
     border-right: 8px solid rgb(20, 20, 20);
     border-bottom: 8px solid rgb(12, 12, 12);
     border-left: 8px solid rgb(24, 24, 24);

     /* border: 10px outset; */
     /* border-image: url('../assets/grunge-metal-background-small.jpg'); */
     border-image-repeat: stretch;
     border-image-width: 10px 15px 15px 15px;
     border-image-slice: 30px;

     background: yellow;
     background: rgb(141, 0, 0);
     border-radius: 5px;



     box-shadow: -0px 5px rgb(0, 0, 0), 0 5px black;
     font-size: 4rem;
     cursor: pointer;

     transform: translateY(-5px);

     display: flex;
     align-items: center;
     justify-content: center;

     transition: transform .2s, box-shadow .2s;

}



.submitBtnBox:active > #submit,
#submit:active {
     text-shadow: 0 0 5px white;
     background: rgb(206, 0, 0);
     transform: translate(0px);
     box-shadow: 0px 0px rgb(0, 0, 0);;

     transition: transform 0s, box-shadow 0s;
}


/*! ---------------- RIGHT SECTION - IMAGE DISPLAY -----------------*/

.imageMonitor {
     margin-top: .5rem;
     height: 100%;
     border: 5px solid black;
     background: black;
     border-radius: 5px;
}

.imageWindow {
     background: radial-gradient(rgb(0, 46, 4),rgb(0, 0, 0));
     height: 100%;
     display: flex;
     align-items: center;
     padding: 0rem;
     width: 100%;
     position: relative;
     border-left: 5px solid rgb(20, 20, 20);
     border-top: 5px solid rgb(12, 12, 12);
     border-right: 5px solid rgb(24, 24, 24);
     border-bottom: 5px solid rgb(41,41,41);
}

.imageWindow > img {
     min-width: 100%;
     max-height: 100%;
     /* border: 1px solid darkgreen; */
     border-radius: 10px;
     
}

iframe {
     border: 1px solid darkgreen;
     border-radius: 10px;
}

figure {
     width: 100%;
     height: 0;
     position: relative;
     padding-bottom: 56.25%;
}

iframe {
     position: absolute;
     left: 0;
     width: 100%;
     height: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
     display: none;
}

/* // Disables hover effects on touch devices */
@media (hover: hover) {
     .button:hover {
          transform: translateY(-6px);
          /* transform: translateZ(20px); */
          box-shadow: -0px 6px rgb(0, 0, 0), 0 6px black;
          transition: .2s;
          cursor: pointer;
          text-shadow: 0 0 5px white;
          background: rgb(0, 206, 10);
     }
     
     .button:hover i {
          text-shadow: 0 0 5px;
     }

     .submitBtnBox:hover {
          cursor: pointer;
     }
     
     .submitBtnBox:hover > #submit,
     #submit:hover {
          transform: translateY(-8px);
          /* transform: translateZ(20px); */
          box-shadow: -0px 8px rgb(0, 0, 0), 0 8px black;
          transition: .2s;
          cursor: pointer;
          text-shadow: 0 0 5px white;
          background: rgb(206, 0, 0);
     }
}