/* Box Model Bugfixer */
/* * {
     outline: 1px solid red;
} */

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* COLORS
/*******************************************/
/* SCROLLBARS */
/* Firefox */
* {
     scrollbar-width: thin;
     scrollbar-color: rgb(0, 104, 52) rgb(22, 219, 0);
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
width: 15px;
}

*::-webkit-scrollbar-track {
background: rgb(0, 104, 52);
}

*::-webkit-scrollbar-thumb {
background-color: rgb(13, 134, 0);
border-radius: 1px;
border: 10px solid rgb(22, 219, 0);
}
/* END SCROLLBARS */


/******************************************
/* TYPOGRAPHY
/*******************************************/
/* @import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap'); */
@font-face {
     src: url('../assets/Berthold_City_Light_Regular.otf') format('opentype');
     font-family: "City Light"
}
@font-face {
     src: url('../assets/Sevastopol-Interface.ttf') format('truetype');
     font-family: "Sevastopol"
}
@font-face {
     src: url('../assets/PumpOpti-DemiBold.otf') format('opentype');
     font-family: "Pump Demi"
}


/******************************************
/* BASE STYLES
/*******************************************/
/* Set 1 rem to 10px */
html {
     font-size: 62.5%;
     font-family: sans-serif;
     /* background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../milkyway-bg.jpg'); */
     /* background: linear-gradient(to top left,rgb(88, 88, 88), rgb(207, 207, 207)); */
     background: url('../assets/station-screen-graphic.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     color: rgb(255, 255, 255);
     height: 100vh;
}





/******************************************
/* LAYOUT
/*******************************************/
body {
     padding: 2vh;
     /* text-align: center; */
     /* text-shadow: -2px 2px 5px black; */
}






.container {
     display: flex;
     flex-flow: row nowrap;
     height: 95vh;
     align-items: center;
}

.left,
.right {
     width: 50%;
     height: 100%;
}

.left {
     max-width: 1500px;
}


/* ! ----------- HEADER / DESCRIPTION / CONTROLS --------------- */
.left {
     margin-right: 2%;
     display: flex;
     flex-flow: column nowrap;
     align-items: stretch;
     /* justify-content: center; */
}

header {
     height: 10%;

}

h2 {
     /* border: 2px solid darkgoldenrod; */
     /* background: darkorange; */
     background: radial-gradient(rgb(0, 46, 4),rgb(0, 0, 0));
     /* font-family: "City Light", monospace; */
     font-size: 4rem;
     padding: 1.5rem;
     font-family: "Pump Demi", monospace;
     border-left: 5px solid rgb(20, 20, 20);
     border-top: 5px solid rgb(12, 12, 12);
     border-right: 5px solid rgb(24, 24, 24);
     border-bottom: 5px solid rgb(41,41,41);
     text-align: center;
     color: yellowgreen;



}




.descriptionMonitor {
     height: 70%;
     margin-bottom: 5%;
     border: 5px solid black;
     border-radius: 5px;
     background: black;
     width: 95%;
     margin: auto;
}

.descriptionWindow {
     height: 100%;
     border-left: 15px solid rgb(20, 20, 20);
     border-top: 15px solid rgb(12, 12, 12);
     border-right: 15px solid rgb(24, 24, 24);
     border-bottom: 15px solid rgb(41,41,41);
     font-size: 4.5rem;
     color: lime;
     /* background: radial-gradient(rgb(0, 0, 0),rgb(0, 0, 0),rgb(26, 26, 26)); */
     background: radial-gradient(rgb(0, 46, 4),rgb(0, 0, 0));
     border-radius: 5px;
     padding: 1rem;
     display: flex;
     align-items: center;

     /* font-family: 'City Light', monospace; */
     /* letter-spacing: .3rem; */

     font-family: 'Sevastopol', monospace;

     /* text-shadow: -2px 1px rgba(50, 255, 84, 0.459); */

     /* text-transform: uppercase; */
     overflow-y: scroll;
     
}

.descriptionWindow p {
     text-align: left;
     max-height: 95%;

}

/* ! -------- CONTROLS -------- */

.controls {
     background: grey;
     height: 15%;
     border: 5px ridge darkgray;
     display: flex;
     flex-flow: row nowrap;
     transform: perspective(300px) rotateX(10deg);
     /* transform-style: preserve-3d; */
}

.controls > div {
     width: 50%;
}


/* // --------- DATE INPUT ------- */
.dateInputBox {
     height: 100%;
     padding: 1rem;
     width: 100%;
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
}
/* BUTTONS */
.buttons, .dateInputs {
     display:flex;
     flex-flow: row nowrap;
     justify-content: space-evenly;
     /* width: 100%; */
}
.buttons > *,
.dateInputs > * {
     flex: 1;
}

.button {
     width: 3rem;
     height: 3rem;
     border: 3px outset white;
     background: yellowgreen;
     border-radius: 50%;
     margin: 1%;
}

/* DATE INPUT DISPLAY */
.dateInput {
     width: 3rem;
     height: 3rem;
     background: radial-gradient(rgb(0, 46, 4),rgb(0, 0, 0)); 
}



/* // ----------- SUBMIT BUTTON ------------ */
.submitBtnBox {
     height: 100%;
     padding: 1rem;
}

#submit {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 1rem;

     border-right: 15px solid rgb(20, 20, 20);
     border-bottom: 15px solid rgb(12, 12, 12);
     border-left: 15px solid rgb(24, 24, 24);
     border-top: 10px solid rgb(41,41,41);
     background: yellow;
     background: rgb(141, 0, 0);
     border-radius: 5px;
     color: black;
     color: rgb(235, 235, 235);
     text-shadow: none;
     height: 100%;
     transform: translateY(-5px);
     box-shadow: -0px 5px rgb(0, 0, 0), 0 5px black;
     font-size: 4rem;
     cursor: pointer;
     transition: transform .2s, box-shadow .2s;
     font-family: 'Pump Demi',monospace;
}

.submitBtnBox:hover {
     cursor: pointer;
}

.submitBtnBox:hover > #submit,
#submit:hover {
     transform: translateY(-8px);
     /* transform: translateZ(20px); */
     box-shadow: -0px 8px rgb(0, 0, 0), 0 8px black;
     transition: .2s;
     cursor: pointer;
     text-shadow: 0 0 5px white;
     background: rgb(206, 0, 0);
}

.submitBtnBox:active > #submit,
#submit:active {
     transform: translate(0px);
     box-shadow: 0px 0px rgb(0, 0, 0);;

     transition: transform 0s, box-shadow 0s;
}


/*! ---------------- IMAGE DISPLAY -----------------*/

.imageMonitor {
     height: 100%;
     border: 5px solid black;
     background: black;
     border-radius: 5px;
}

.imageWindow {
     background: radial-gradient(rgb(0, 46, 4),rgb(0, 0, 0));
     height: 100%;
     display: flex;
     align-items: center;
     padding: 1rem;
     width: 100%;
     position: relative;
     border-left: 15px solid rgb(20, 20, 20);
     border-top: 15px solid rgb(12, 12, 12);
     border-right: 15px solid rgb(24, 24, 24);
     border-bottom: 15px solid rgb(41,41,41);
}

.imageWindow > img {
     min-width: 100%;
     max-height: 100%;
     border: 1px solid darkgreen;
     border-radius: 10px;
     
}

iframe {
     border: 1px solid darkgreen;
     border-radius: 10px;
}

figure {
     width: 100%;
     height: 0;
     position: relative;
     padding-bottom: 56.25%;
}

iframe {
     position: absolute;
     left: 0;
     width: 100%;
     height: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
     display: none;
}